<div id="articles-list" class="col-10 m-auto">
  <% @articles.each do |article| %>
    <div class="article">
      <h2><%= link_to article.title, article_path(article) %></h2>
      <p><%= article.content %></p>
    </div>
  <% end %>
</div>
